In [1448]:
import numpy as np
import pandas as pd

# DataframeMapper, CategoricalImputer
from sklearn_pandas import DataFrameMapper, CategoricalImputer

# Imputer
from sklearn.impute import SimpleImputer

# FeatureUnion
from sklearn.pipeline import FeatureUnion

# Function Transformer
from sklearn.preprocessing import FunctionTransformer

# check missing value percentage *(Self Defined Package)
from missing_value.missing_values_table import missing_values_table

# fill categoriacal missing values *(Self Defined Package)
from missing_value.fill_missing_values import Categorical_Imputer

In [1449]:
df = pd.read_csv('NHANES_ALL2.csv')
df.shape

/home/dell/anaconda2/envs/tfdeeplearning/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (57,74,238,241,251,254,287,299,319,339,518,538,539,567,606,623,649,691,705,766,822,1055,1061,1063,1064,1067,1070,1072,1078,1086,1090,1099,1102,1104,1105,1107,1109,1111,1112,1113,1115,1116,1117,1120,1125,1150,1151,1152,1153,1199,1201,1202,1206,1212,1217,1223,1228,1229,1230,1231,1232,1239,1251,1253,1255,1259,1265,1275,1277,1303,1316,1336,1338,1340,1342,1344,1346,1348,1351,1354,1357,1360,1363,1364,1365,1366,1373,1375,1377,1380,1384,1386,1391,1393,1394,1420,1426,1433,1434,1435,1436,1437,1439,1442,1445,1448,1451,1454,1474,1475,1483,1484,1486,1487,1490,1492,1493,1495,1497,1506,1508,1510,1512,1513,1514,1516,1525,1526,1527,1530,1533,1534,1536,1547,1548,1550,1551,1552,1553,1555,1556,1557,1558,1559,1562,1564,1565,1566,1574,1579,1616,1619,1622,1630,1631,1632,1642,1644,1648,1650,1651,1652,1655,1657,1661,1663,1665,1668,1669,1670,1671,1672,1673,1675,1686,1687,1688,1689,1690,1691,1692,1693,1699,1700,1701,1702,1707,1708,1709,1710,1711,1712,1714,1725,1733,1737,1748,1749,1750,1751,1752,1753,1755,1756,1761,1765,1767,1776,1780,1785,1787,1815,1819,1841,1843,1847,1852,1853) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(10175, 1869)

In [1450]:
df.head()

,Unnamed: 0,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMQADFC,DMDBORN4,DMDCITZN,...,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520,eligstat,mortstat,ucod_leading,diabetes,hyperten,permth_int,permth_exm
0,1,73557,NHANES 2013-2014 public release,Both interviewed and MEC examined,Male,69,NaN,Non-Hispanic Black,Non-Hispanic Black,November 1 through April 30,NaN,Yes,Yes,"Born in 50 US states or Washington, DC",Citizen by birth or naturalization,...,270,200,69,270,62,NaN,NaN,NaN,Eligible,Assumed Alive,NaN,NaN,NaN,14.0,14.0
1,2,73558,NHANES 2013-2014 public release,Both interviewed and MEC examined,Male,54,NaN,Non-Hispanic White,Non-Hispanic White,November 1 through April 30,NaN,No,NaN,"Born in 50 US states or Washington, DC",Citizen by birth or naturalization,...,240,250,72,250,25,NaN,NaN,NaN,Eligible,Assumed Alive,NaN,NaN,NaN,24.0,24.0
2,3,73559,NHANES 2013-2014 public release,Both interviewed and MEC examined,Male,72,NaN,Non-Hispanic White,Non-Hispanic White,May 1 through October 31,NaN,Yes,Yes,"Born in 50 US states or Washington, DC",Citizen by birth or naturalization,...,180,190,70,228,35,NaN,NaN,NaN,Eligible,Assumed Alive,NaN,NaN,NaN,16.0,15.0
3,4,73560,NHANES 2013-2014 public release,Both interviewed and MEC examined,Male,9,NaN,Non-Hispanic White,Non-Hispanic White,November 1 through April 30,119.0,NaN,NaN,"Born in 50 US states or Washington, DC",Citizen by birth or naturalization,...,NaN,NaN,NaN,NaN,NaN,about the right weight?,"stay the same weight, or",a lot?,"Under age 18, not available for release",NaN,NaN,NaN,NaN,NaN,NaN
4,5,73561,NHANES 2013-2014 public release,Both interviewed and MEC examined,Female,73,NaN,Non-Hispanic White,Non-Hispanic White,November 1 through April 30,NaN,No,NaN,"Born in 50 US states or Washington, DC",Citizen by birth or naturalization,...,150,135,67,170,60,NaN,NaN,NaN,Eligible,Assumed Dead,Malignant neoplasm,No,No,9.0,8.0

In [1451]:
df['LBXGH'].head()

0    13.9
1     9.1
2     8.9
3     NaN
4     4.9
Name: LBXGH, dtype: float64

In [1452]:
df = df[['SEQN','RIAGENDR','RIDAGEYR','RIDAGEMN','RIDRETH1','RIDRETH3','DMDEDUC2','DMDMARTL','INDHHIN2','INDFMPIR','BMXWT','BMXRECUM','BMXHEAD','BMXHT','BMXBMI','BMDBMIC','BPXPLS','BPXSY1','BPXDI1','BPAEN1','BPXDI2','BPXSY2','BPXDI2','BPXSY3','BPXDI3','LBDHDDSI','LBDTCSI', 'DBD895' ,'URXVOL1','URDFLOW1','URXVOL2','URDFLOW2','DIQ010','DID040','HSD010','DPQ010','DPQ020','RHQ160','RHD143','RHD180','SLD010H','SLQ050','PAQ620','PAQ625', 'PAQ635', 'PAQ650' , 'PAQ665' ,'PAQ710' ,'ALQ101','ALQ130','ALQ120Q','SMQ040','SMQ020','SMD030','DUQ200','DUQ211','DUQ213','DUQ240','SXD021','SXD031','SXD101','SXD450','SXQ292', 'LBXGH', 'mortstat']]
df.shape

(10175, 65)

In [1453]:
#Rename variables
df.rename(columns={"RIAGENDR": "Gender", "RIDAGEYR": "Age", "RIDAGEMN": "AgeDecade", "RIDAGEEX": "AgeMonths", "RIDRETH1": "Race1", "RIDRETH3": "Race3", "DMDEDUC2": "Education", "DMDMARTL": "MaritalStatus", "INDHHIN2": "HHIncome", "INDFMPIR": "Poverty", "BMXWT": "Weight", "BMXRECUM": "Length", "BMXHEAD": "HeadCirc", "BMXHT" : "Height", "BMXBMI": "BMI", "BMDBMIC": "BMICatUnder20yrs", "BPXPLS": "Pulse", "BPXSY1": "BPSysAve", "BPXDI1": "BPDiaAve", "BPAEN1": "BPSys1", "BPXDI2": "BPDia1", "BPXSY2": "BPSys2", "BPXDI2": "BPDia2", "BPXSY3": "BPSys3", "BPXDI3": "BPDia3", "LBDHDDSI": "DirectChol", "LBDTCSI": "TotChol", "DBD895": "FatFoods" ,"URXVOL1": "UrineVol1", "URDFLOW1": "UrineFlow1", "URXVOL2": "UrineVol2", "URDFLOW2": "UrineFlow2", "DIQ010": "Diabetes", "DID040": "DiabetesAge", "HSD010": "HealthGen", "HSQ470": "DaysPhysHlthBad", "HSQ480": "DaysMentHlthBad", "DPQ010": "LittleInterest", "DPQ020": "Depressed", "RHQ160": "nPregnancies", "RHD143": "PregnantNow", "RHD180": "Age1stBaby", "SLD010H": "SleepHrsNight", "SLQ050": "SleepTrouble", "PAQ620": "PhysActive", "PAQ625": "PhysActiveDays", "PAQ635": "WalkBic",  "PAQ650": "VigActiv", "PAQ665": "ModActiv" ,"PAQ710": "TVHrsDay", "ALQ101": "Alcohol12PlusYr", "ALQ130": "AlcoholDay", "ALQ120Q": "AlcoholYear", "SMQ040": "SmokeNow", "SMQ020": "Smoke100", "SMD030": "SmokeAge", "DUQ200": "Marijuana", "DUQ211": "RegularMarij", "DUQ213": "AgeRegMarij", "DUQ240": "HardDrugs", "SXD021": "SexEver", "SXD031": "SexAge", "SXD101": "SexNumPartnLife", "SXD450": "SexNumPartYear", "SXQ292": "SexOrientation", "LBXGH": "GlycoHemoglobin"}, inplace=True)
df.shape

(10175, 65)

In [1454]:
df = df[['SEQN','Gender','Age','Race1','Education','MaritalStatus','Poverty','Weight','Height','BMI','Pulse','BPSysAve','BPDiaAve','DirectChol','TotChol', 'FatFoods' ,'UrineVol1','UrineFlow1','Diabetes','HealthGen','SleepHrsNight','SleepTrouble','PhysActive', 'PhysActiveDays', 'WalkBic', 'VigActiv', 'ModActiv', 'TVHrsDay', 'AlcoholDay', 'AlcoholYear' , 'SmokeNow' ,'Smoke100', 'GlycoHemoglobin', 'mortstat']]

In [1455]:
df = df.dropna(thresh=int(df.shape[0] * .3), axis=1)

In [1456]:
#df = df.dropna(subset=['mortstat'])

In [1457]:
df.shape

(10175, 32)

In [1458]:
df.head()

,SEQN,Gender,Age,Race1,Education,MaritalStatus,Poverty,Weight,Height,BMI,Pulse,BPSysAve,BPDiaAve,DirectChol,TotChol,...,UrineFlow1,Diabetes,HealthGen,SleepHrsNight,SleepTrouble,PhysActive,WalkBic,VigActiv,ModActiv,TVHrsDay,AlcoholDay,AlcoholYear,Smoke100,GlycoHemoglobin,mortstat
0,73557,Male,69,Non-Hispanic Black,High school graduate/GED or equivalent,Separated,0.84,78.3,171.3,26.7,86.0,122.0,72.0,1.68,4.32,...,0.821,Yes,"Very good,",7,Yes,No,No,No,No,"2 hours,",1,1,Yes,13.9,Assumed Alive
1,73558,Male,54,Non-Hispanic White,High school graduate/GED or equivalent,Married,1.78,89.5,176.8,28.6,74.0,156.0,62.0,1.29,4.40,...,1.636,Yes,"Fair, or",9,No,Yes,No,No,No,"4 hours, or",4,7,Yes,9.1,Assumed Alive
2,73559,Male,72,Non-Hispanic White,Some college or AA degree,Married,4.51,88.9,175.3,28.9,68.0,140.0,90.0,1.55,3.26,...,NaN,Yes,"Good,",8,No,Yes,No,No,Yes,"4 hours, or",NaN,0,Yes,8.9,Assumed Alive
3,73560,Male,9,Non-Hispanic White,NaN,NaN,2.52,32.2,137.3,17.1,64.0,108.0,38.0,1.58,4.34,...,0.575,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3 hours,",NaN,NaN,NaN,NaN,NaN
4,73561,Female,73,Non-Hispanic White,College graduate or above,Married,Value greater than or equal to 5.00,52.0,162.4,19.7,92.0,136.0,86.0,2.20,5.20,...,0.109,No,Poor?,9,No,Yes,No,No,No,"1 hour,",NaN,0,No,4.9,Assumed Dead

In [1459]:
df['Age'].value_counts()

0                           405
80 years of age and over    352
2                           278
1                           262
6                           262
7                           233
4                           230
10                          223
11                          223
3                           220
8                           217
9                           213
5                           208
16                          203
14                          203
12                          193
18                          191
15                          176
13                          165
19                          153
17                          148
63                          119
30                          117
41                          116
44                          114
23                          112
60                          112
20                          111
43                          111
36                          109
                           ...
21                           95
39                           94
24                           93
57                           93
59                           93
46                           92
28                           91
26                           91
29                           86
53                           86
54                           84
37                           84
49                           83
65                           82
35                           78
72                           77
67                           77
27                           77
69                           75
70                           75
58                           73
68                           71
71                           66
73                           65
74                           60
75                           51
76                           51
77                           38
78                           36
79                           30
Name: Age, Length: 81, dtype: int64

In [1460]:
df['Age'].replace('80 years of age and over', 80, inplace=True)

In [1461]:
df['Age'].value_counts()

0     405
80    352
2     278
6     262
1     262
7     233
4     230
11    223
10    223
3     220
8     217
9     213
5     208
14    203
16    203
12    193
18    191
15    176
13    165
19    153
17    148
63    119
30    117
41    116
44    114
23    112
60    112
20    111
43    111
36    109
     ...
21     95
39     94
57     93
24     93
59     93
46     92
28     91
26     91
29     86
53     86
54     84
37     84
49     83
65     82
35     78
72     77
67     77
27     77
69     75
70     75
58     73
68     71
71     66
73     65
74     60
75     51
76     51
77     38
78     36
79     30
Name: Age, Length: 81, dtype: int64

In [1462]:
df['Race1'].value_counts()

Non-Hispanic White                     3674
Non-Hispanic Black                     2267
Mexican American                       1730
Other Race - Including Multi-Racial    1544
Other Hispanic                          960
Name: Race1, dtype: int64

In [1463]:
df['Race1'].replace(['Non-Hispanic White', 'Non-Hispanic Black', 'Other Race - Including Multi-Racial', 'Mexican American', 'Other Hispanic'], ['White', 'Black', 'Other', 'Mexican', 'Hispanic'], inplace = True)

In [1464]:
df['Race1'].value_counts()

White       3674
Black       2267
Mexican     1730
Other       1544
Hispanic     960
Name: Race1, dtype: int64

In [1465]:
df['Race1'].isnull().sum()

0

In [1466]:
df['Education'].value_counts()

Some college or AA degree                             1770
College graduate or above                             1443
High school graduate/GED or equivalent                1303
9-11th grade (Includes 12th grade with no diploma)     791
Less than 9th grade                                    455
Don't Know                                               5
Refused                                                  2
Name: Education, dtype: int64

In [1467]:
df['Education'].replace(['Some college or AA degree', 'College graduate or above', 'High school graduate/GED or equivalent', '9-11th grade (Includes 12th grade with no diploma)', 'Less than 9th grade', 'Don\'t Know', 'Refused'], ['Some College', 'College Grad', 'High School', '9 - 11th Grade', '8th Grade', np.nan, np.nan], inplace = True)

In [1468]:
df['Education'].value_counts()

Some College      1770
College Grad      1443
High School       1303
9 - 11th Grade     791
8th Grade          455
Name: Education, dtype: int64

In [1469]:
df['Education'].isnull().sum()

4413

In [1470]:
df['MaritalStatus'].value_counts()

Married                2965
Never married          1112
Divorced                659
Widowed                 436
Living with partner     417
Separated               177
Refused                   2
Don't Know                1
Name: MaritalStatus, dtype: int64

In [1471]:
df['MaritalStatus'].replace(['Married', 'Never married', 'Divorced', 'Widowed', 'Living with partner', 'Separated', 'Refused', 'Don\'t Know'], ['Married', 'NeverMarried', 'Divorced', 'Widowed', 'LivePartner' , 'Separated', np.nan, np.nan], inplace = True)

In [1472]:
df['MaritalStatus'].value_counts()

Married         2965
NeverMarried    1112
Divorced         659
Widowed          436
LivePartner      417
Separated        177
Name: MaritalStatus, dtype: int64

In [1473]:
df['MaritalStatus'].isnull().sum()

4409

In [1474]:
df['Poverty'].value_counts()

Value greater than or equal to 5.00    1416
1.27                                    151
0                                       105
0.54                                     77
0.63                                     74
1.02                                     73
0.72                                     71
4.19                                     66
0.86                                     65
0.84                                     65
0.51                                     61
1.29                                     60
0.64                                     59
1.07                                     58
0.76                                     58
1.06                                     57
1.52                                     55
1.04                                     55
0.73                                     54
0.7                                      53
1.43                                     53
1.91                                     52
0.56                                     51
0.47                                     51
0.9                                      50
3.22                                     49
1.54                                     49
2.15                                     47
1.16                                     46
0.61                                     46
                                       ...
1.87                                      2
4.46                                      2
3.49                                      2
3.39                                      2
2.8                                       1
3.06                                      1
3.88                                      1
4.63                                      1
1.69                                      1
2.08                                      1
3.62                                      1
4.87                                      1
4.96                                      1
3.76                                      1
1.96                                      1
2.91                                      1
2.92                                      1
3.11                                      1
1.9                                       1
4.99                                      1
4.54                                      1
4.09                                      1
1.98                                      1
2.17                                      1
3.16                                      1
0.23                                      1
3.7                                       1
4.83                                      1
3.99                                      1
1.66                                      1
Name: Poverty, Length: 440, dtype: int64

In [1475]:
df['Poverty'].replace('Value greater than or equal to 5.00', 5, inplace = True)

In [1476]:
df['Poverty'].value_counts()

5       1416
1.27     151
0        105
0.54      77
0.63      74
1.02      73
0.72      71
4.19      66
0.84      65
0.86      65
0.51      61
1.29      60
0.64      59
1.07      58
0.76      58
1.06      57
1.04      55
1.52      55
0.73      54
1.43      53
0.7       53
1.91      52
0.47      51
0.56      51
0.9       50
3.22      49
1.54      49
2.15      47
1.16      46
0.61      46
        ...
2.84       2
4.2        2
2.93       2
3.64       2
3.88       1
1.66       1
4.96       1
4.87       1
3.62       1
2.92       1
4.63       1
3.16       1
1.98       1
3.99       1
3.7        1
2.08       1
3.11       1
1.9        1
2.17       1
4.54       1
2.91       1
1.96       1
4.09       1
3.76       1
0.23       1
1.69       1
4.99       1
2.8        1
3.06       1
4.83       1
Name: Poverty, Length: 440, dtype: int64

In [1477]:
df['Poverty'].isnull().sum()

785

In [1478]:
df['Diabetes'].value_counts()

No            8841
Yes            737
Borderline     185
Don't know       5
Refused          1
Name: Diabetes, dtype: int64

In [1479]:
df['Diabetes'].replace(['Borderline', 'Don\'t know'], [np.nan, np.nan], inplace=True)

In [1480]:
df['Diabetes'].value_counts()

No         8841
Yes         737
Refused       1
Name: Diabetes, dtype: int64

In [1481]:
df['Diabetes'].isnull().sum()

596

In [1482]:
df['HealthGen'].value_counts()

Good,         2605
Very good,    1826
Fair, or      1186
Excellent      641
Poor?          208
Don't know       1
Name: HealthGen, dtype: int64

In [1483]:
df['HealthGen'].replace(['Good,', 'Very good,', 'Fair, or', 'Excellent', 'Poor?', 'Don\'t know'], ['Good', 'Vgood', 'Fair', 'Excellent', 'Poor', np.nan], inplace=True)

In [1484]:
df['HealthGen'].value_counts()

Good         2605
Vgood        1826
Fair         1186
Excellent     641
Poor          208
Name: HealthGen, dtype: int64

In [1485]:
df['HealthGen'].isnull().sum()

3709

In [1486]:
df['SleepHrsNight'].value_counts()

8                   1697
7                   1599
6                   1431
5                    529
9                    343
4                    230
10                   160
7.0                  108
8.0                   93
6.0                   76
12 hours or more      46
3                     38
5.0                   28
9.0                   23
2                     21
11                    10
4.0                   10
10.0                   8
Don't know             7
3.0                    3
2.0                    1
Name: SleepHrsNight, dtype: int64

In [1487]:
df['SleepHrsNight'].replace(['12 hours or more', 'Don\'t know'], [12, np.nan], inplace=True)

In [1488]:
df['SleepHrsNight'].value_counts()

8       1697
7       1599
6       1431
5        529
9        343
4        230
10       160
7.0      108
8.0       93
6.0       76
12        46
3         38
5.0       28
9.0       23
2         21
11        10
4.0       10
10.0       8
3.0        3
2.0        1
Name: SleepHrsNight, dtype: int64

In [1489]:
df['SleepHrsNight'].isnull().sum()

3721

In [1490]:
df['SleepTrouble'].value_counts()

No            4880
Yes           1582
Don't know       2
Name: SleepTrouble, dtype: int64

In [1491]:
df['SleepTrouble'].replace('Don\'t know', np.nan, inplace=True)

In [1492]:
df['SleepTrouble'].value_counts()

No     4880
Yes    1582
Name: SleepTrouble, dtype: int64

In [1493]:
df['SleepTrouble'].isnull().sum()

3713

In [1494]:
df['PhysActive'].value_counts()

No            4837
Yes           2308
Don't know       2
Refused          1
Name: PhysActive, dtype: int64

In [1495]:
df['PhysActive'].replace(['Don\'t know', 'Refused'], [np.nan, np.nan], inplace=True)

In [1496]:
df['PhysActive'].value_counts()

No     4837
Yes    2308
Name: PhysActive, dtype: int64

In [1497]:
df['PhysActive'].isnull().sum()

3030

In [1498]:
df['Smoke100'].value_counts()

No            3532
Yes           2579
Don't know       2
Name: Smoke100, dtype: int64

In [1499]:
df['Smoke100'].replace('Don\'t know', np.nan, inplace=True)

In [1500]:
df['Smoke100'].value_counts()

No     3532
Yes    2579
Name: Smoke100, dtype: int64

In [1501]:
df['Smoke100'].isnull().sum()

4064

In [1502]:
df['WalkBic'].isnull().sum()

3028

In [1503]:
df['WalkBic'].value_counts()

No            5099
Yes           2047
Don't know       1
Name: WalkBic, dtype: int64

In [1504]:
df['WalkBic'].replace('Don\'t know', np.nan, inplace=True)

In [1505]:
df['WalkBic'].value_counts()

No     5099
Yes    2047
Name: WalkBic, dtype: int64

In [1506]:
df['WalkBic'].isnull().sum()

3029

In [1507]:
df['VigActiv'].isnull().sum()

3028

In [1508]:
df['VigActiv'].value_counts()

No            5087
Yes           2059
Don't know       1
Name: VigActiv, dtype: int64

In [1509]:
df['ModActiv'].isnull().sum()

3030

In [1510]:
df['ModActiv'].value_counts()

No            4084
Yes           3059
Don't know       2
Name: ModActiv, dtype: int64

In [1511]:
df['TVHrsDay'].isnull().sum()

727

In [1512]:
df['TVHrsDay'].value_counts()

2 hours,                                      2489
1 hour,                                       1776
3 hours,                                      1473
5 hours or more, or                           1272
Less than 1 hour,                             1208
4 hours, or                                    985
{You don't/SP does not} watch TV or videos     241
Don't know                                       3
Refused                                          1
Name: TVHrsDay, dtype: int64

In [1513]:
df['TVHrsDay'].replace(['2 hours,' ,'5 hours or more, or' ,'1 hour,' ,'3 hours,' ,'Less than 1 hour,','4 hours, or','{You don\'t/SP does not} watch TV or videos', 'Don\'t know', 'Refused'], [2, 5, 1, 3, 0.5, 4, 0 ,np.nan, np.nan], inplace=True)

In [1514]:
df['TVHrsDay'].value_counts()

2.0    2489
1.0    1776
3.0    1473
5.0    1272
0.5    1208
4.0     985
0.0     241
Name: TVHrsDay, dtype: int64

In [1515]:
df['TVHrsDay'].isnull().sum()

731

In [1516]:
df['FatFoods'].isnull().sum()

472

In [1517]:
df['FatFoods'].value_counts()

None                           2362
1                              1843
2                              1693
3                              1242
4                               652
5                               583
7                               424
10                              210
6                               169
14                              127
8                                82
12                               60
21                               58
15                               57
9                                42
20                               26
Dont Know                        15
11                               13
16                               10
17                                9
13                                8
19                                7
More than 21 meals per week       5
18                                5
Refused                           1
Name: FatFoods, dtype: int64

In [1518]:
df['FatFoods'].replace(['None', 'Dont Know', 'More than 21 meals per week'], [0, np.nan, 22], inplace=True)

In [1519]:
df['FatFoods'].isnull().sum()

487

In [1520]:
df['FatFoods'].value_counts()

0          2362
1          1843
2          1693
3          1242
4           652
5           583
7           424
10          210
6           169
14          127
8            82
12           60
21           58
15           57
9            42
20           26
11           13
16           10
17            9
13            8
19            7
18            5
22            5
Refused       1
Name: FatFoods, dtype: int64

In [1521]:
df['AlcoholDay'].isnull().sum()

6579

In [1522]:
df['AlcoholDay'].value_counts()

1.0           1101
2.0            846
3.0            465
4.0            249
1              179
2              156
6.0            138
5.0            133
3               71
8.0             42
12.0            36
4               34
10.0            26
5               21
6               18
7.0             18
8               12
12               7
7                5
15.0             5
13.0             5
16.0             4
11.0             4
9.0              4
20.0             4
Don't know       3
10               2
14.0             2
18.0             2
15               1
24.0             1
25.0             1
18               1
Name: AlcoholDay, dtype: int64

In [1523]:
df['AlcoholDay'].replace('Don\'t know', np.nan, inplace=True)

In [1524]:
df['AlcoholDay'].isnull().sum()

6582

In [1525]:
df['AlcoholDay'].value_counts()

1.0     1101
2.0      846
3.0      465
4.0      249
1        179
2        156
6.0      138
5.0      133
3         71
8.0       42
12.0      36
4         34
10.0      26
5         21
7.0       18
6         18
8         12
12         7
15.0       5
13.0       5
7          5
9.0        4
16.0       4
11.0       4
20.0       4
14.0       2
18.0       2
10         2
15         1
24.0       1
25.0       1
18         1
Name: AlcoholDay, dtype: int64

In [1526]:
df['AlcoholYear'].isnull().sum()

5696

In [1527]:
df['AlcoholYear'].value_counts()

1.0           851
2.0           702
0.0           692
3.0           437
4.0           231
5.0           215
1             195
0             190
2             182
7.0           164
6.0           117
3              87
4              71
10.0           50
5              50
7              30
6              24
15.0           21
20.0           21
10             20
8.0            19
12.0           18
30.0           17
12              6
365.0           6
14.0            5
8               4
Don't know      4
20              3
25.0            3
             ...
28.0            2
11.0            2
24.0            2
100.0           2
14              1
13.0            1
15              1
17.0            1
18.0            1
120             1
45.0            1
35.0            1
25              1
350.0           1
80              1
305.0           1
300.0           1
200.0           1
182.0           1
160.0           1
112.0           1
40.0            1
96.0            1
90.0            1
80.0            1
40              1
52.0            1
9               1
180             1
61.0            1
Name: AlcoholYear, Length: 64, dtype: int64

In [1528]:
df['AlcoholYear'].replace('Don\'t know', np.nan, inplace=True)

In [1529]:
df['AlcoholYear'].isnull().sum()

5700

In [1530]:
df['AlcoholYear'].value_counts()

1.0      851
2.0      702
0.0      692
3.0      437
4.0      231
5.0      215
1        195
0        190
2        182
7.0      164
6.0      117
3         87
4         71
5         50
10.0      50
7         30
6         24
20.0      21
15.0      21
10        20
8.0       19
12.0      18
30.0      17
12         6
365.0      6
14.0       5
8          4
9.0        3
25.0       3
20         3
        ...
16.0       2
100.0      2
24.0       2
28.0       2
18.0       1
15         1
14         1
13.0       1
350.0      1
17.0       1
120        1
300.0      1
305.0      1
35.0       1
200.0      1
182.0      1
160.0      1
25         1
112.0      1
96.0       1
90.0       1
80         1
40         1
61.0       1
52.0       1
9          1
180        1
45.0       1
40.0       1
80.0       1
Name: AlcoholYear, Length: 63, dtype: int64

In [1531]:
df['Diabetes'].isnull().sum()

596

In [1532]:
df['Diabetes'].value_counts()

No         8841
Yes         737
Refused       1
Name: Diabetes, dtype: int64

In [1533]:
df['GlycoHemoglobin'].value_counts()

5.4     676
5.3     644
5.2     598
5.5     594
5.1     487
5.6     458
5.0     389
5.7     381
5.8     294
4.9     251
5.9     243
6.0     202
4.8     156
6.1     141
4.7     109
6.2      88
6.3      79
6.4      77
4.6      73
6.6      54
6.5      47
6.7      40
4.5      38
7.0      34
6.8      32
4.4      31
7.1      26
6.9      24
7.2      22
7.6      18
       ...
9.7       3
9.0       3
11.5      3
14.4      3
11.3      2
12.0      2
12.4      2
11.7      2
10.4      2
15.4      1
13.6      1
13.9      1
3.5       1
17.5      1
13.7      1
13.2      1
14.7      1
9.9       1
12.2      1
3.7       1
11.8      1
12.6      1
12.3      1
3.8       1
14.3      1
12.7      1
13.4      1
9.5       1
3.9       1
11.9      1
Name: GlycoHemoglobin, Length: 100, dtype: int64

In [1534]:
df['GlycoHemoglobin'].isnull().sum()

3532

In [1535]:
pd.set_option('display.max_columns', 32)

In [1536]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df.drop(['Race1', 'Education', 'MaritalStatus'], axis=1, inplace=True)

In [1537]:
num_cols = ['Age', 'Poverty', 'Weight', 'Height', 'BMI', 'Pulse', 'BPSysAve', 'BPDiaAve', 'DirectChol', 'TotChol', 'FatFoods', 'UrineVol1', 'UrineFlow1', 'SleepHrsNight', 'TVHrsDay', 'AlcoholDay', 'AlcoholYear', 'GlycoHemoglobin']

In [1538]:
cate_cols = df.columns.drop(num_cols)

In [1539]:
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

In [1540]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 28 columns):
Gender             10175 non-null object
Age                10175 non-null int64
Poverty            9390 non-null float64
Weight             9723 non-null float64
Height             9067 non-null float64
BMI                9055 non-null float64
Pulse              7549 non-null float64
BPSysAve           7172 non-null float64
BPDiaAve           7172 non-null float64
DirectChol         7624 non-null float64
TotChol            7624 non-null float64
FatFoods           9687 non-null float64
UrineVol1          8057 non-null float64
UrineFlow1         7150 non-null float64
Diabetes           9579 non-null object
HealthGen          6466 non-null object
SleepHrsNight      6454 non-null float64
SleepTrouble       6462 non-null object
PhysActive         7145 non-null object
WalkBic            7146 non-null object
VigActiv           7147 non-null object
ModActiv           7145 non-null object
TVHrsDay           9444 non-null float64
AlcoholDay         3593 non-null float64
AlcoholYear        4475 non-null float64
Smoke100           6111 non-null object
GlycoHemoglobin    6643 non-null float64
mortstat           6100 non-null object
dtypes: float64(17), int64(1), object(10)
memory usage: 2.2+ MB

In [1541]:
df[cate_cols].apply(lambda x: x.nunique(), axis=0)

Gender          2
Diabetes        3
HealthGen       5
SleepTrouble    2
PhysActive      2
WalkBic         2
VigActiv        3
ModActiv        3
Smoke100        2
mortstat        2
dtype: int64

In [1542]:
df['Gender'].value_counts()

Female    5172
Male      5003
Name: Gender, dtype: int64

In [1543]:
df['mortstat'] = df['mortstat'].apply(lambda x: 1 if x=='Assumed Alive' else 0)
df['Diabetes'] = df['Diabetes'].apply(lambda x: 1 if x=='Yes' else 0)
df['PhysActive'] = df['PhysActive'].apply(lambda x: 1 if x=='Yes' else 0)
df['WalkBic'] = df['WalkBic'].apply(lambda x: 1 if x=='Yes' else 0)
df['VigActiv'] = df['VigActiv'].apply(lambda x: 1 if x=='Yes' else 0)
df['ModActiv'] = df['ModActiv'].apply(lambda x: 1 if x=='Yes' else 0)
df['Smoke100'] = df['Smoke100'].apply(lambda x: 1 if x=='Yes' else 0)
df['Gender'] = df['Gender'].apply(lambda x: 1 if x=='Male' else 0)

In [1545]:
df.head()

,Gender,Age,Poverty,Weight,Height,BMI,Pulse,BPSysAve,BPDiaAve,DirectChol,TotChol,FatFoods,UrineVol1,UrineFlow1,Diabetes,HealthGen,SleepHrsNight,SleepTrouble,PhysActive,WalkBic,VigActiv,ModActiv,TVHrsDay,AlcoholDay,AlcoholYear,Smoke100,GlycoHemoglobin,mortstat
0,1,69,0.84,78.3,171.3,26.7,86.0,122.0,72.0,1.68,4.32,8.0,87.0,0.821,1,Vgood,7.0,Yes,0,0,0,0,2.0,1.0,1.0,1,13.9,1
1,1,54,1.78,89.5,176.8,28.6,74.0,156.0,62.0,1.29,4.40,0.0,90.0,1.636,1,Fair,9.0,No,1,0,0,0,4.0,4.0,7.0,1,9.1,1
2,1,72,4.51,88.9,175.3,28.9,68.0,140.0,90.0,1.55,3.26,1.0,66.0,NaN,1,Good,8.0,No,1,0,0,1,4.0,NaN,0.0,1,8.9,1
3,1,9,2.52,32.2,137.3,17.1,64.0,108.0,38.0,1.58,4.34,0.0,61.0,0.575,0,NaN,NaN,NaN,0,0,0,0,3.0,NaN,NaN,0,NaN,0
4,0,73,5.00,52.0,162.4,19.7,92.0,136.0,86.0,2.20,5.20,0.0,5.0,0.109,0,Poor,9.0,No,1,0,0,0,1.0,NaN,0.0,0,4.9,0

In [1546]:
num_imputer = SimpleImputer(strategy='median')
df[num_cols] = num_imputer.fit_transform(df[num_cols])
cate_imputer = Categorical_Imputer('most_frequent')
df[cate_cols] = cate_imputer.fit_transform(df[cate_cols])

In [1547]:
missing_values_table(df)

Your slelected dataframe has 28 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [1548]:
df.to_csv('Final_NHANES_2013_2014.csv', index=False)